<html lang='en'>
	<head>
	</head>
	<body>
		<h1>Create a new Blog!</h1>

		<form action="/blogs/createBlog" method='post'>
			<label>name</label><input type="string" name="name">
			<label>password</label><input type="password" name="password">
			<label>Blog Content</label><input type="string" name="content">

			<button type="submit">Submit</button>
		</form>	

	</body>
</html>