<html lang='en'>
	<head>
	</head>

	<body>
		<h1>Signup</h1>

		<form action='/users/signup' method='post'>
			<label>Name:</label><input type="string" name="name">
			<label>Password:</label><input types="string" name="password">
			<label>About:</label><input type="string" name="about">

			<button type="submit">Submit</button>
		</form>
	</body>

</html>